@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* COLORS */
  --BLACK: #333333;
  --LIGHT-BLACK: #6864643e;
  --ORANGE: #ff7f00;
  --WHITE: #ffffff;
  --DARKWHITE: #d5d2d2;
  --BODYWHITE: #ffffffcc;
  /* --WHITE: #ffffffdf; */

  /* FONTS */
  --FS-P: "Poppins", sans-serif;
  --FS-R: "Red Hat Display", serif;
  --FS-DS: "Dancing Script", serif;
  /* --FS-PE: "Parisienne", serif; */
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 64.7%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 1.3rem;
  color: var(--BODYWHITE);
  font-family: var(--FS-R);
}

/* GENERAL STYLING */
a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

.header {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: var(--BLACK);
  overflow: hidden;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.nav-bar--logo {
  display: flex;
  align-items: center;
}

.nav-bar--logo-img {
  width: 5rem;
  height: auto;
}

.nav-bar--logo-img img {
  width: 100%;
  height: 100%;
}

.nav-bar--logo-text {
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: var(--FS-P);
  transform: translateY(-0.45rem);
  color: var(--WHITE);
  font-weight: 600;
}

.nav-bar--menu-img {
  width: 30px;
  height: auto;
}

.nav-bar--menu-img img {
  width: 100%;
  height: 100%;
}

.hero__triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25rem;
  height: 25rem;
  background: var(--ORANGE);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  z-index: -9999;
}

.menuCard {
  position: fixed;
  z-index: 99999;
  width: 80%;
  height: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  color: var(--WHITE);
  gap: 2rem;
  backdrop-filter: blur(20px);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.close {
  align-self: flex-end;
}

.menu-lists {
  align-self: center;
  padding-top: 7rem;
  text-align: center;
}

.list,
.menu-lists-btn {
  list-style: none;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  letter-spacing: 2px;
}

.list a {
  transition: all 500ms ease-in-out;
}

.list a:hover {
  color: var(--ORANGE);
}

.menu-lists-ul a {
  color: inherit;
  text-decoration: none;
}

.menu-lists-btn {
  background: var(--WHITE);
  border-radius: 5px;
  color: var(--BLACK);
  padding: 1.5rem;
  transition: all 500ms ease-in-out;
  border: none;
}

.menu-lists-btn:hover {
  background-color: var(--ORANGE);
  color: var(--WHITE);
}

.link-active {
  color: var(--ORANGE);
}

.not-link-active {
  color: white;
}

.btn-active {
  background-color: var(--ORANGE);
  color: var(--WHITE);
}

.not-btn-active {
  background: var(--WHITE);
  color: var(--BLACK);
}

/* HERO */
.hero {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  transform: translateY(2.95rem);
  padding: 2rem 2rem 0 2rem;
  /* background: red; */
  align-items: center;
}

/* HERO TEXTS */
.hero-texts {
  /* justify-self: flex-start; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideText 5s ease forwards;
  align-items: center;
  /* justify-self: center; */
}

.hero-texts--text {
  text-align: center;
  margin-bottom: 0.9rem;
}

.hero-texts--heading {
  font-size: clamp(1.5rem, 4.5vw, 5.5rem);
  color: var(--WHITE);
  font-family: var(--FS-P);
  font-weight: 800;
  text-transform: uppercase;
  /* text-shadow: 2px 2px 5px rgba(255, 140, 0, 0.6); */
  text-shadow: 2px 2px 5px rgba(255, 140, 0, 0.474);
  letter-spacing: 0.2rem;
}

.hero-texts--subtexts {
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
}

.orange-accent {
  color: var(--ORANGE);
  font-size: clamp(1.5rem, 6vw, 7.5rem);
}

.hero__texts-btn {
  border: none;
  font-family: var(--FS-P);
  font-size: 1.5rem;
  background: var(--ORANGE);
  color: var(--WHITE);
  margin-top: 2rem;
  padding: 0.6rem 1.7rem;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.arr-right {
  font-size: 2.5rem;
  margin-left: 7px;
}

.arr-right-active {
  padding-left: 0.5rem;
  transition: all 600ms linear;
}

.b-active {
  transition: all 600ms linear;
}

.hero-btn-active {
  background: var(--WHITE);
  color: var(--BLACK);
  /* transition: all 600ms linear; */
  /* text-shadow: 2px 2px 5px rgba(255, 140, 0, 0.6); */
}

/* HERO IMAGES */
.hero__imgs {
  display: flex;
  animation: slideImg 3s ease forwards;
}

.hero__imgs-img-female {
  width: 250px;
  transform: translateX(8.5rem);
  z-index: 1;
}

.hero__imgs-img-male {
  width: 300px;
  transform: translateX(-8.5rem);
}

.hero__imgs-img img {
  width: 100%;
  height: auto;
}

/* MAIN */
.main {
  background: var(--BLACK);
  width: 100%;
  padding: 5rem 0;
}

.main-brand-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.main-brand-imgs--img {
  width: 135px;
}

.main-brand-imgs--img img {
  width: 100%;
  height: auto;
}

.main-heading {
  text-align: center;
  line-height: 1.7;
}

.main-heading-title {
  font-family: var(--FS-DS);
  color: var(--ORANGE);
  margin-top: 5rem;
  letter-spacing: 2px;
  font-size: clamp(1.7rem, 4vw, 3rem);
  text-transform: capitalize;
}

.main-heading-subtitle {
  text-transform: capitalize;
  font-size: clamp(1.5rem, 5vw, 5rem);
  font-family: var(--FS-P);
  text-shadow: 2px 2px 5px rgba(255, 140, 0, 0.474);
  letter-spacing: 1px;
}

.main-heading-subtitle span {
  color: var(--ORANGE);
}

.mainCards-cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  place-items: center;
  width: 80%;
  margin: 5rem auto 3rem auto;
}

.mainCards-cards--img {
  width: 8rem;
  height: 8rem;
  background: var(--DARKWHITE);
  padding: 0.9rem;
  border-radius: 50%;
}

.mainCards-cards--img img {
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.mainCards-cards--sect {
  margin-bottom: 2rem;
  width: 230px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 3rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  justify-content: center;
  align-items: center;
  background: var(--LIGHT-BLACK);
  border-radius: 10px;
}

.mainCards-cards--heading {
  font-size: clamp(1.5rem, 2.7vw, 2rem);
  font-family: var(--FS-P);
  margin: 1.2rem 0;
}

.mainCards-cards--sub-heading {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 300;
  text-shadow: 2px 5px 5px rgba(255, 140, 0, 0.474);
  color: var(--ORANGE);
  font-family: var(--FS-P);
}

.mainCards-cards--texts {
  font-size: 1.35rem;
  line-height: 1.5;
  /* opacity: 0.8; */
  letter-spacing: 0.05rem;
  text-align: center;
}

.mainCards-cards--sect.active {
  outline: solid 2px var(--ORANGE);
  transition: all 600ms ease;
  color: var(--WHITE);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainCards-cards--textsArr:hover {
  transform: translateX(5px);
  transition: all 600ms ease;
}

.mainCards-cards--sub-heading.Active {
  font-weight: 500;
}

/*ABOUT US*/
.about-us {
  margin: 3rem 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.about-us--texts-details {
  padding: 2rem;
  letter-spacing: 0.03rem;
  line-height: 1.5;
  text-align: center;
}

.about-us--highlight-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  text-align: center;
  margin-top: 5rem;
}

.about-us--highlight-value {
  color: var(--ORANGE);
  font-family: var(--FS-DS);
  font-size: clamp(1.5rem, 3.5vw, 3.5rem);
  margin-bottom: 0.7rem;
}

.aboutUs-triangle {
  left: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  z-index: -1;
}

.about-us--text-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.about-us--img {
  width: 300px;
  animation: slideImg 3s ease forwards;
}

.about-us--img img {
  height: auto;
  width: 100%;
  /* transform: translate(0.75rem); */
  transform: translate(-0.3rem, 0.75rem);
  /* filter: brightness(85%); */
}

/* KEYFRAMES */

.slide-down {
  animation: slideUp 500ms linear forwards;
}

.slide-up {
  animation: slideDown 500ms linear forwards;
}

@keyframes slideUp {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}

@keyframes slideDown {
  0% {
    top: 0;
  }
  100% {
    top: -1000px;
  }
}

@keyframes slideText {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes slideImg {
  0% {
    opacity: 0;
    transform: translateY(15rem);
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

/* 700px */

@media (min-width: 767px) {
  .mainCards-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 901 */
@media (min-width: 901px) {
  .hero {
    flex-direction: row;
    align-items: center;
    transform: translateY(0rem);
  }

  .hero__imgs {
    width: 55%;
  }
  .hero__imgs-img-female {
    width: 600px;
    transform: translate(9rem, 2rem);
  }

  .hero__imgs-img-male {
    width: 700px;
    transform: translate(-8rem, 2.5rem);
  }

  .hero-texts--text {
    text-align: left;
  }

  .hero__triangle {
    width: 45rem;
    height: 45rem;
    background: var(--ORANGE);
  }

  .hero-texts {
    padding-left: 4.5rem;
    align-items: flex-start;
  }

  .about-us--texts {
    width: 60%;
    padding: 0 5rem;
  }

  .about-us--text-imgs {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 3rem;
    align-items: flex-end;
  }

  .about-us--img {
    width: 500px;
    animation: slideImg 3s ease forwards;
  }

  .about-us--img img {
    transform: translate(-0.4rem, 2rem);
  }
}

@media (min-width: 1150px) {
  .mainCards-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
